@import 'reset'

//Mixins

@mixin leagueGothic
  font-family: 'League Gothic'
  line-height: 100%
  text-rendering: optimizeLegibility

@mixin clear
  overflow: hidden

@mixin round-corners($radius)
  -webkit-border-radius: $radius
  -moz-border-radius: $radius
  -khtml-border-radius: $radius
  border-radius: $radius
  padding: $radius
  
@mixin layout($columns, $width, $padding)
  width: $width/$columns - ($padding)
  padding-right: $padding 
  
@mixin box-shadow($value)
  -moz-box-shadow: $value  
  -webkit-box-shadow: $value
  box-shadow: $value

@mixin letterpress($offset)
  text-shadow: 0 $offset $offset #FFFFFF

@mixin button($radius)
  display: block
  text-align: center
  @include round-corners($radius)
  padding: 10px 5px

body
  font-family:  Helvetica, Arial, sans-serif
  background: #000
  #content
    width: 900px
    margin: 100px auto 10px
    #time
      float: left
      color: #FFF
      font-size: 180px
      font-family: Helvetica
      letter-spacing: -0.05em
      margin-bottom: 10px
      margin-right: 80px
      p
        margin: 0
        padding: 0
        line-height: 1
      #hours
        border-bottom: 3px solid white
      #minutes
        padding-top: 20px
    #photos
      width: 600px
      overflow: hidden
      > div
        padding: 0
        width: 170px
        height: 170px
        overflow: hidden
      .second-box
        padding: 0
        width: 40px
        height: 40px
        margin: 3px
        background: white
        float: left
        @include round-corners(3px)
        
    #photo0, #photo1, #photo2, #photo3, #photo4, #photo5
      float: left
      margin: 10px
  #preload
    position: absolute
    left: -3000px
  
      
    